.row {
    border: 0.5px solid green;
}

.col-lg-3 {
    border: 0.5px solid red;
}


.col-lg-9 {
    border: 0.5px solid blue;
}

.flex-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 175px;
    
    /*justify-content: left; */
}

.nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}