

/* Header color over-ride */
header {
    background-image: linear-gradient(to right, lightblue , darkblue);
}

#today {
    border: 2px solid #000000;
    padding-left: 10px;
    margin-bottom: 15px;
    
}
.flex-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 175px;
    /* border: 1px solid black; */
    /*justify-content: left; */
} 

.nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/* li - list styling */
.no-bullets {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    padding-right: 40px;
}

/* Cards backgrounf color */
ul {
    background-color: #6495ED;
    color: white;
}

/* Button styling */
#search-button {
    border-radius: 3px;
    background-color: #6495ED;
    color: white;
}

#search-input {
    border-radius: 3px;
}
